<!DOCTYPE html>

<html lang="fr">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css">

	<title>Accueil</title>

</head>

<body style="background-image:url(images/background.jpg); background-size: cover; opacity: 0.9">
	<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md- mb-3 box-shadow banniere">

		<nav class="my-2 my-md-0 mr-md-3">
			<a class="btn btn-primary" href="connexion.html" style="color: white; font-weight: bold;" id="connexion">Connexion</a>
			<a class="btn btn-dark" href="connexion.html" style="color: white; font-weight: bold;" id="deconnexion">Deconnexion</a>			
			<a class="btn btn-secondary" href="inscription.html" style="color: white; font-weight: bold;" id="inscription">Inscription</a>
			<a class="btn btn-secondary" href="pilote_inscription.html" style="color: white; font-weight: bold;" id="inscription_pilote">Vous êtes pilotes ?</a>
			<a class="btn btn-secondary" href="pilote.html" style="color: white; font-weight: bold;" id="pilote">Profil</a>		
			<a class="btn btn-secondary" href="user.html" style="color: white; font-weight: bold;" id="user">Profil</a>							
			<a class="btn btn-secondary" href="aide.html" style="color: white; font-weight: bold;" >Aide</a>
		</nav>
		
	</div>
	<h1 class="display-4 text-center">Coplaning<br></h1>
	<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
		<p class="lead" style="font-weight: 600; color: black">Bienvenu sur le site de Coplaning ! Vous pouvez dès maintenant réserver un vol vers des milliers de destinations au près d'un de  nos pilotes professionnels !</p>
	</div>

	<div class="container">
		<div class="card-deck mb-3 text-center">


			<div class="card mb-4 box-shadow">
				<div class="card-header" style="text-decoration-color: rgb(2, 105, 207);">
					<h4 class="my-0 font-weight-normal">Rechercher un vol</h4>
					<div class="card-body"><div class="form-group" style=""></div>
					
					<div class="form-group" style=""><div class="form-group" style=""><div class="form-group" style="">
						<input type="text" class="form-control" placeholder="Lieu de départ"></div><br>
						<input type="text" class="form-control" placeholder="Lieu d'arrivée"></div><br>
						<label>Date et Heure</label>
						<input type="datetime-local" class="form-control"></div><br>

					</div></div>
					    <script id="templateRow" type="text/template">
        <tr><td><%= id %></td><td><%= flight.departure %></td><td><%= flight.arrival %></td><td><%= flight.id_flight %></td></tr>
    </script>
				</div>
					<button type="button" class="btn btn-outline-dark" id="buttonSearch">Rechercher</button></div>

				<footer class="pt-4 my-md-5 pt-md-5 border-top">
					<div class="row">

						<div class="col-6 col-md">
							<h5>Informations</h5>
							<ul class="list-unstyled text-small">
								<li><a class="text-white" href="#">Foire aux questions</a></li>
								<li><a class="text-white" href="#">Réglementation</a></li>
								<li><a class="text-white" href="#">Assurances</a></li>
								<li><a class="text-white" href="#">Contact</a></li>
								<li></li>
								<li></li>
							</ul>
						</div>
						<div class="col-6 col-md">
							<h5>Nos réseaux</h5>
							<ul class="list-unstyled text-small">
								<li><a class="text-white" href="https://twitter.com/coplaning?s=20">Twitter</a></li>
								<li><a class="text-white" href="https://www.instagram.com/coplaning_officiel/">Instagram</a></li>
								<li><a class="text-white" href="https://www.facebook.com/coplaning.dupont/">Facebook</a></li>
								<li></li>
							</ul>
						</div>
						<div class="col-6 col-md">
							<h5>Découvrir</h5>
							<ul class="list-unstyled text-small">
								<li><a class="text-white" href="#">Liste des avions</a></li>
								<li><a class="text-white" href="#">Nos pilotes</a></li>
								<li><a class="text-white" href="#">Liste des aérodromes</a></li>
								<li><a class="text-white" href="#">Offres exclusives</a></li>
							</ul>
						</div>
					</div>
				</footer>
			</div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script type="text/javascript" src="home.js"></script>
	</body>
</html>