<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css">

	<title>Vols</title>
</head>
<body>
	<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow banniere" style="background-color: rgb(230, 230, 230); opacity:1;">

		<nav class="my-2 my-md-0 mr-md-3">
			<a class="btn btn-outline-primary" href="home.html">Accueil</a>
			<a class="p-2 text-dark" href="pilote.html">Vous êtes pilotes ?</a>
			<a class="p-2 text-dark" href="#">Aide</a>
			
		</nav>
		
	</div>
	



    
	<div class="container">
		<h1 class="display-4 text-center">Vols disponibles<br></h1>
				
		<div class="row">
			<div class="col-md-4">
				<div class="card mb-4 box-shadow">
					<div class="card-body">
						<p class="card-text">Réserver votre vol dès maintenant</p>
						<div class="d-flex justify-content-between align-items-center">
							<small class="row" id="result"></small>
    <script id="templateRow" type="text/template">
        <tr>
			<td><img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src=<%= flight.image %> data-holder-rendered="true" style="height: 225px; width: 100%; display: block;" ></small></td>
			<td><small class="text-muted">ID :	    </small><%= id %></td>			
			<td><small class="text-muted">Lieu de départ : </small> <%= flight.departure %></td>
			<td><small class="text-muted">Lieu d'arrivé : </small><%= flight.arrival %></td>
			<td><small class="text-muted">Prix : </small><%= flight.cost %>€</td>
	</tr>
    </script>
    							<div class="btn-group">
								<button type="button" class="btn btn-sm btn-outline-secondary" id="buttonBook">Réserver</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		





	


		<footer class="pt-4 my-md-5 pt-md-5 border-top">
			<div class="row">

				<div class="col-6 col-md">
					<h5>Informations</h5>
					<ul class="list-unstyled text-small">
						<li><a class="text-muted" href="#">Foire aux questions</a></li>
						<li><a class="text-muted" href="#">Réglementation</a></li>
						<li><a class="text-muted" href="#">Assurances</a></li>
						<li><a class="text-muted" href="#">Contact</a></li>
						<li></li>
						<li></li>
					</ul>
				</div>
				<div class="col-6 col-md">
					<h5>Nos réseaux</h5>
					<ul class="list-unstyled text-small">
						<li><a class="text-muted" href="https://twitter.com/coplaning?s=20">Twitter</a></li>
						<li><a class="text-muted" href="https://www.instagram.com/coplaning_officiel/">Instagram</a></li>
						<li><a class="text-muted" href="https://www.facebook.com/coplaning.dupont/">Facebook</a></li>
						<li></li>
					</ul>
				</div>
				<div class="col-6 col-md">
					<h5>Découvrir</h5>
					<ul class="list-unstyled text-small">
						<li><a class="text-muted" href="#">Liste des avions</a></li>
						<li><a class="text-muted" href="#">Nos pilotes</a></li>
						<li><a class="text-muted" href="#">Liste des aérodromes</a></li>
						<li><a class="text-muted" href="#">Offres exclusives</a></li>
					</ul>
				</div>
			</div>
		</footer>
	</div>

	<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
	<script src="recherche.js"></script>
</body>
</html>